<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Henry Darnell at the University of Arkansas</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-sanitize.min.js"></script>
  <script src="assets/app.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75989600-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body ng-controller="MainCtrl">
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li ng-class="{active: views[0]}">
          <a href="#" ng-click="toggle(0)">About</a>
        </li>
        <li ng-class="{active: views[1]}">
          <a href="#" ng-click="toggle(1)">Experience</a>
        </li>
        <li ng-class="{active: views[2]}">
          <a href="#" ng-click="toggle(2)">Coursework</a>
        </li>
        <!-- <li>
          <a href="" target="_blank">Resume</a>
        </li> -->
      </ul>
      <h2 class="text-info">Henry Darnell</h2>

    </div>

    <div class="row" ng-show="views[0]">
      <div class="col-xs-8">
        <h2 class="muted">About</h2>
        <p>
          I am a Senior, graduating in May 2017 with B.S. in Computer Science and a minor in Mathematics from the University of Arkansas.
          I'm passionate in clean, working code that can be scaled up efficiently.
        </p>
        <p>
          <em>Career plans:</em>
          After graduation, I want to work with a small-midsize company writing code to make others' lives better!
          I'm interested in the fast pace of smaller companies and their use of bleeding-edge technologies.
        </p>
        <p>
          <em>Research interests:</em>
          I would like to do research in Data Mining. I want to research the correlation behind publicly-available information.
        </p>
        <p>
          <em>Other interests:</em>
          Mobile developement, specifically native apps. Ultimate frisbee, cats.
        </p>

    </div>
    <div class="col-xs-4">
      <h2></h2>
      <img src="assets/hdarn.jpg" class="img-rounded" alt="Picture of Henry" width="100%" />
    </div>
  </div>


<div class='row' ng-show="views[1]">

  <div class="col-xs-6">
    <h2>Work Experience</h2>

    <h3 ng-repeat-start="job in jobs">
      <a href="" ng-href="{{job.company_url }}">{{job.company}}</a>
    </h3>
    <p ng-repeat-end>
      <span class="lead">{{ job.title }}</span><br/>
      {{ job.team }} <br/>
      {{ job.duration }} <br/>
      {{ job.location }}
    </p>
  </div>

  <div class="col-xs-6">
    <!-- <h2>SOMETHING HERE</h2> -->

    <h2>Random Facts</h2>
    <dl class="dl-horizontal">
      <dt ng-repeat-start="fact in facts">{{ fact[0] }}</dt>
      <dd ng-bind-html="fact[1]" ng-repeat-end></dd>
    </dl>
  </div>
</div>

<div class='row' ng-show="views[2]">
  <div class="col-xs-12">
    <h2>Coursework</h2>
  </div>


  <div class="col-xs-6">
    <h3>Senior</h3>
    <ul class="list-unstyled">
      <li ng-repeat="course in courses[3]">{{ course }}</li>
    </ul>
    <h3>Junior</h3>
    <ul class="list-unstyled">
      <li ng-repeat="course in courses[2]">{{ course }}</li>
    </ul>
  </div>

  <div class="col-xs-6">
    <h3>Sophomore</h3>
    <ul class="list-unstyled">
      <li ng-repeat="course in courses[1]">{{ course }}</li>
    </ul>
    <h3>Freshman</h3>
    <ul class="list-unstyled">
      <li ng-repeat="course in courses[0]">{{ course }}</li>
    </ul>
  </div>
</div>

<div class="footer">
  <p class="pull-right">
    Last updated: May 2016
  </p>
  <p>
    &copy; Henry Darnell - made with <a href="https://angularjs.org">AngularJS</a>,
      <a href="http://getbootstrap.com/">Bootstrap</a>,
      <a href="https://github.com/hjdarnel/personal_uark">GitHub</a>,
      and love.
  </p>

</div>


</div>
</body
</html>
